*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy extrabold;
}
html , body{
    height: 100%;
    width: 100%;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main{
  border-radius: 20px;
  width: 600px;
  height: 300px;
  background-color: rgb(192, 191, 191);
}
.main-box{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* background-color: aqua; */
  padding: 50px;
}

.ratio{
  width: 100%;
  height: 30px;
  border-radius: 30px;
  background-color: #fff;
}
.ratio1{
  width: 0%;
  height: 30px;
  border-radius: 30px;
  background-color: #100f0f;
}
.speed-button{
  padding: 30px 30px;
  display: flex;
  justify-content: space-between;
}

.speed-button h1{
  font-size: 60px;
}

.speed-button button{
  padding: 10px 20px; 
  font-size: 30px;
  border-radius: 20px;
 
}

button:active{
  scale: 0.95;
}